cache/
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
.ipynb_checkpoints/
scratch/
*approach*
*Approach*
*.docx
.venv/
env/
venv/
*.db
*.db-journal
*.wav
*.mp4
*.mkv
*.jpg
*.png
.DS_Store
Thumbs.db